{% extends 'git_land/base.html' %}
{% block content %}
<div class='row'>
    <div class="col-sm-8">
        <h3>Projects</h3>
    </div>
    <div class="col-sm-4">
        <a href="{% url 'repo_form' username=user.username %}" class='btn btn-default'> Add Repo </a>
    </div>
</div>
{% for repo in repos %}
<div class='row'>
    <div class="col-sm-5">
        <a href="{% url 'repos' username=user.username filepath=filepath|add:"/"|add:repo %}">{{repo}}</a>
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-3">
    </div>
</div>
{% endfor %}
{% endblock %}